.App {
  text-align: center;
  justify-content: center;
}
/* Base font-size for easier rem calculation */
html {
  font-size: 16px; /* This means 1rem = 16px */
}

/* Container styling */
.container {
  width: 100%;
  max-width: 37.5rem; /* 600px */
  margin: 0 auto;
  padding: 1.25rem; /* 20px */
  box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* Title styling */
div.title {
  text-align: center;
  font-size: 1.5rem; /* 24px */
  font-weight: bold;
  margin-bottom: 1.25rem; /* 20px */
}

/* Input field and button styling */
.input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem; /* 20px */
}

.input input[type="text"] {
  padding: 0.625rem; /* 10px */
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 0.25rem; /* 4px */
  margin-right: 0.625rem; /* 10px */
}

.input button {
  padding: 0.625rem 0.9375rem; /* 10px 15px */
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 0.25rem; /* 4px */
  cursor: pointer;
}

.input button:hover {
  background-color: #0056b3;
}

/* Count display styling */
.count {
  margin-bottom: 1.25rem; /* 20px */
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
}

/* Todo list styling */
.list {
  list-style-type: none;
  padding: 0;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem; /* 10px */
  border-bottom: 1px solid #eee;
}

.todo:last-child {
  border-bottom: none;
}

.todo-name {
  padding: 0.2rem 1rem;
  flex-grow: 1;
  cursor: pointer;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon{
  margin-right: 0.25rem;  
}

.todo-name:hover {
  text-decoration: underline;
  background-color: rgb(239, 239, 216);
}

.todo .selected {
  background-color: #efc4bf;
}

.todo button {
  padding: 0.3125rem 0.625rem; /* 5px 10px */
  margin: 0 0.3125rem; /* 5px */
  border: none;
  border-radius: 0.25rem; /* 4px */
  cursor: pointer;
  background-color: #ccc;
  color: #333;
}

.todo .up{
  background-color: rgb(216, 216, 185);
}

.todo .down{
  background-color: rgb(185, 205, 216);
}

.todo .up:hover, .todo .down:hover {
  background-color: #aaa;
}

.todo .delete {
  background-color: #e74c3c;
  color: #fff;
}

.todo .delete:hover {
  background-color: #c0392b;
}

/* Visual representation of completed tasks */
.todo-name[aria-checked="true"] {
  text-decoration: line-through;
  color: #888;
  background-color: rgb(217, 242, 223);
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .input {
      flex-direction: column;
  }

  .input input[type="text"], .input button {
      margin-bottom: 0.625rem; /* 10px */
      width: 100%;
  }
}
